{#
/**
 * @file
 * Template: Default Field.
 *
 * @package DRUPAL10
 * @subpackage rustic
 * @author Jason D. Moss <jason@jdmlabs.com>
 * @copyright 2005-2023 Jason D. Moss. All rights reserved.
 * @link https://www.jdmlabs.com/
 */
#}
{% for item in items -%}
  <div class="page-body">
    {{ item.content }}
  </div>
{% endfor -%}
